/*  i am  give some elements some default styles which i don't want,so i don't want the image default margins that we have on the page we don't want these underlines with the links or the anchor tags we don't want these bullets or our list items so here we are going to overwrite those
styles we are going to set everything to be zero or none  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none
  list-style : none;
  box-sizing : border-box;
}

:root {
 /*  css variables are going to help us easily customize our web page and it is going to also prevent us
from repeating ourselves all right so to declare a variable in css we need two hyphens  */
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3276;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
 
  --transition: all 400ms ease;

}

body{
  font-family: 'Montserrat', sans-serif;    
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}

.container{
   width: var(--container-width-lg);
   margin: 0 auto  ;
}

section{
  padding: 96px 0;
}

section h2{
  text-align: center;
  margin-bottom: 64px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1 {
  font-size: 38px;
}

h2{
   font-size: 32px;
}

h3{
  font-size: 25.6px;
}

h4{
  font-size: 20.8px;
}

a {
  color: var(--color-white);
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn{
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 16px 32px;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover{
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* ===============================NAV BAR ============================*/

nav {
  width: 100%;
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 11;

  /* VW standing for View Width 
vw and vh stand for viewport width and viewport height respectively.
The difference between using width: 100vw instead of width: 100% is that while 100% will make the element fit all the space available, the 
viewport width has a specific measure, in this case the width of the available screen, including the document margin. */
}

.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* changes navbar styles on scroll using javascript */

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 64px;
}

nav-menu a{
  font-size: 14.4px;
  transition: all 3s ease;
}

a:hover{
  color: var(--color-bg2); 
}

/* ==========================HEADER=================== */

header {
  position: relative;
  top : 80px;
   overflow: hidden;
  height: 70vh;
  margin-bottom: 80px; 
}

.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  height: 100%;
}

.header-left p {

  margin: 16px 0 38.4px;

}

/* ==========================CATEGORIES BLOCK STYLING=================== */

.categories{
  background: var(--color-bg1);
}

.categories h1{
  line-height: 1;
  margin-bottom: 48px;
}
/* styles every H1 inside SECTION: CATEGORIES */

.categories-container{
  display: grid;
  grid-template-columns: 40% 60%;
  gap : 64px;

}

.categories-left{
  margin-right: 64px;
}

.categories-left p{
  margin: 16px 0 48px;
}

.categories-right{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19.2px;
}

.category{
  background: var(--color-bg2);
  padding: 32px;
  border-radius: 32px;
  transition: var(--transition);
}

.category:hover{
  box-shadow: 0 48px 48px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category:nth-child(2) .catgory-icon{
  background: var(--color-danger);
}

/*we use the pseudo selector here and here i'm going to get the second one okay so the nth child and i'm going to get the second one 
which is GRAPHIC DESIGN, we to change the background to color danger */

.category:nth-child(3) .catgory-icon{
  background: var(--color-success);
}

.category:nth-child(4) .catgory-icon{
  background: var(--color-warning);
}

.category:nth-child(5) .catgory-icon{
  background: var(--color-success);
}

.category:nth-child(6) .catgory-icon{
  background: var(--color-bg1);
}

.catgory-icon{
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p{
  font-size: 0.85rem;
}

/* ==========================POPULAR COURSES=================== */

.courses{
  margin-top: 16 0px;
}

.courses-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course{
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover{
  background: transparent;
  border-color: var(--color-primary);
}

.course-info{
  padding: 32px;
}


.course-info p {
  margin: 1.2rem o 2rem;
  font-size: 0.9rem;
}

/* ============================== FAQS==========================*/

.faqs{
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap : 1rem;
  
}

.faq{
  padding: 32px;
  display: flex;
  align-items: center;
  gap : 1.4rem;
  height: fit-content;
  background: var(--color-primary);
  cursor: pointer;

}

/* each frequently asked question and give it a pattern of two okay i'm going to display flex and align items to the center let me give some gap between them as well 1.
1:05:44
4 ram once you set the height to be fit content give it a background of color primary now let me set the cursor to pointer okay i want this to look clickable so like that should be pointer now i'm going to select the h4 f frequently asked question and 
then h4 font size here is going to be one ram i'm going to set the line height to */

faq h4{
  font-size: 1rem;
  line-height: 2.2rem;
}

.faq-icon{
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p{
  margin: 0.8rem;
  display: none;
}


.faq.open p {
  display: block;
}

/* ============================== TESTIMONILAS==========================*/

.testimonial-container{
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial{
  padding-top: 2rem;
}

.avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial-info{
  text-align: center;
}

.testimonial-body{
  background: var(--color-primary);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial-body::before{
  content: "";
  display: block;
  background: linear-gradient(135deg, 
  transparent,var(--color-primary), var(--color-primary));
  /* background: red; */
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/* ============================== FOOTER ==========================*/

